# top-most EditorConfig file
root = true

[*]
end_of_line = lf                   # Unix-style newlines
insert_final_newline = true
charset = utf-8

indent_style = space               # default identation - spaces
indent_size = 4                    # default identation - size

insert_final_newline = true        # new line at the end of file
trim_trailing_whitespace = true    # no extra sapces at the end of lines

max_line_length = 100              # wouldn't work in vsc, only in atom and vim

[*.py]
max_line_length = 79               # pep8

[*.{php,inc}]
indent_style = tab

[*.go]
indent_style = tab

[*.sh]
indent_size = 2

[*.{c,cpp,cu,java}]
indent_size = 4

[*.tex]
indent_size = 2
max_line_length = 120

# Make
[Makefile]
indent_style = tab

[Vagrantfile]
indent_size = 2

[*.{yml,yaml,md,markdown}]
indent_size = 2

[*.json]
indent_size = 4
indent_style = space
