# top-most EditorConfig file
root = true

[*]
end_of_line = lf                           # Unix-style newlines
charset = utf-8

indent_style = space                       # default identation - spaces
indent_size = 4                            # default identation - size

insert_final_newline = true                # new line at the end of file
trim_trailing_whitespace = true            # no extra sapces at the end of lines

max_line_length = 100                      # wouldn't work in vsc, only in atom and vim

[*.py]
max_line_length = 79                       # pep8

[*.{php,inc}]
indent_style = tab                         # PHP

[*.js]
indent_style = tab                         # JS/Node.js

[*.less]
indent_style = tab                         # JS/Node.js


[*.{go,gohtml,gotpl}]
indent_style = tab                         # Go

[*.sh]
indent_size = 2                            # Shell Scripts
insert_final_newline = true

[*.lr]
indent_style = tab

[*.{c,h,hpp,cpp,cu,java}]                  # C/C++/CU/Java
indent_size = 4

[*.{htm,html}]                             # Shell
indent_style = tab

[*.tex]                                    # LaTeX
indent_size = 2
max_line_length = 120

[Makefile]                                 # CMake
indent_style = tab

[*.md]                                     # md
trim_trailing_whitespace = true
max_line_length = 100
insert_final_newline = true

[*.{tf,tfvars,tf.sample,tfvars.sample}]   # Terraform
indent_style = space
indent_size = 2

[Vagrantfile]                             # Vagrant
indent_size = 2

[*.{yml,yaml,md,markdown}]                # Markup
indent_size = 2

[*.json]                                  # JSON
indent_size = 4
indent_style = space
